@import "bourbon";

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

$text-color: #9F9;
$shadow: #0F0;
body {
  margin: 0px;
  background: #000;
}

.scanlines {
  pointer-events: none; // Thanks to  @long-lazuli for this tip.
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  // @ryanmcnz thought this bit up.
  @include background-image(linear-gradient(#020 0%, transparent 25%));
	background-size: 4px 4px;
}

.editor-text {
  color: $text-color;
  font-size: 3em;
  text-shadow: 1px 0px 5px $shadow, 
    -1px 0px 2px $shadow;
    
  font-family: Ubuntu Mono;
  font-weight: light;
  line-height: 2em;
  
  margin: 100px;
}

