body {
  background: #ffbada;
  background-image: radial-gradient(ellipse at center, #FFE2F0 0%, #ffbada 100%);
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
  position: relative;
  overflow: hidden;
}

.iwd {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 2;
}

.iwd__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.iwd__btn {
  font: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  background: #FF4DA0;
  color: #fff;
  border: 0;
  padding: 1rem;
  margin: 2rem 0 .5rem;
  outline: 0;
  transition: background 140ms;
  
  &:active {
    background: #FF0076;
  }
}

@keyframes showAndHide {
  0% {
    opacity: 0;
    transform: none;
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: translateY(-1vh);
  }
}

.flower {
  font-size: 124px;
  animation-name: showAndHide;
  animation-fill-mode: both;
  animation-duration: 2s;
  position: absolute;
}